$menu-breakpoint-1: 181svh;
$square-version: 128svh;
$portrait-version: 69svh;
$mobile-version: 58svh;
$border-width: 17;

:root {
  --pixel-size: round(down, 0.67svh, 1px);

  @media (orientation: portrait) {
    --pixel-size: round(down, 0.67vw, 1px);
  }



  --main-screen-width: calc(111*var(--pixel-size));
  --main-screen-height: calc(60*var(--pixel-size));
  --title-screen-width: calc(159*var(--pixel-size));
  --title-screen-height: calc(21*var(--pixel-size));
  --menu-width: calc(81*var(--pixel-size));
  --menu-border-width: calc(8*var(--pixel-size));
  --time-bar-width: var(--main-screen-width);
}

@font-face {
  font-family: Nokia;
  src: url('/public/fonts/nokiafc22.ttf') format("truetype");
}