@import './_variables.module.scss';

.photo {
    float: right;
    width: 30%;
    height: auto;
    border: solid rgb(106, 94, 106) calc(2*var(--pixel-size));


    @media(max-width: 107svh) {
        width: 30%;
    }
}