@import './_variables.module.scss';

.spectrum-div {
    display: flex;
    margin: 0 calc(10*var(--pixel-size));
    height: calc(36*var(--pixel-size));

    @media(max-width: $square-version) {
        margin: 0 var(--pixel-size);
        height: calc(55*var(--pixel-size));
    }

    @media(max-width: $portrait-version) {
        margin: 0;
    }
}

.spectrum-bar-container {
    box-sizing: border-box;
    height: 100%;
    width: calc(3*var(--pixel-size));
    background-color: rgb(43, 0, 32);
    display: flex;
    align-items: end;
    padding: var(--pixel-size);
    margin: var(--pixel-size);
    overflow: hidden;
}

.spectrum-bar {
    float: down;
    margin: 0 auto;
    min-height: var(--pixel-size);
    ;
    width: var(--pixel-size);
    background-image: url(/public/media/images/gradient.png);
    background-size: var(--pixel-size);
    max-height: 100%;
    background-position: 0 100%;
}

.color {
    @extend .spectrum-bar;
    height: 100%;
    background-image: none;
    mix-blend-mode: hue;
    opacity: .5;

}